<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Debug</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>GetLatLng</servlet-name>
    <servlet-class>GetLatLng</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLatLng</servlet-name>
    <url-pattern>/GetLatLng</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DataBaseConn</servlet-name>
    <servlet-class>util.DataBaseConn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataBaseConn</servlet-name>
    <url-pattern>/util/DataBaseConn</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayUsers</servlet-name>
    <servlet-class>admin.DisplayUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayUsers</servlet-name>
    <url-pattern>/admin/DisplayUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaveUsers</servlet-name>
    <servlet-class>admin.SaveUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveUsers</servlet-name>
    <url-pattern>/admin/SaveUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUsers</servlet-name>
    <servlet-class>admin.UpdateUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUsers</servlet-name>
    <url-pattern>/admin/UpdateUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteUsers</servlet-name>
    <servlet-class>admin.DeleteUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUsers</servlet-name>
    <url-pattern>/admin/DeleteUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayIncident</servlet-name>
    <servlet-class>admin.DisplayIncident</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayIncident</servlet-name>
    <url-pattern>/admin/DisplayIncident</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaveIncident</servlet-name>
    <servlet-class>admin.SaveIncident</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveIncident</servlet-name>
    <url-pattern>/admin/SaveIncident</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateIncident</servlet-name>
    <servlet-class>admin.UpdateIncident</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateIncident</servlet-name>
    <url-pattern>/admin/UpdateIncident</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteIncident</servlet-name>
    <servlet-class>admin.DeleteIncident</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteIncident</servlet-name>
    <url-pattern>/admin/DeleteIncident</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateCategory</servlet-name>
    <servlet-class>admin.UpdateCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCategory</servlet-name>
    <url-pattern>/admin/UpdateCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayCategory</servlet-name>
    <servlet-class>admin.DisplayCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayCategory</servlet-name>
    <url-pattern>/admin/DisplayCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCategory</servlet-name>
    <servlet-class>admin.DeleteCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCategory</servlet-name>
    <url-pattern>/admin/DeleteCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaveCategory</servlet-name>
    <servlet-class>admin.SaveCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveCategory</servlet-name>
    <url-pattern>/admin/SaveCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubmitBug</servlet-name>
    <servlet-class>service.SubmitBug</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitBug</servlet-name>
    <url-pattern>/service/SubmitBug</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetLocations</servlet-name>
    <servlet-class>service.GetLocations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLocations</servlet-name>
    <url-pattern>/service/GetLocations</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetLocationVector</servlet-name>
    <servlet-class>service.GetLocationVector</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLocationVector</servlet-name>
    <url-pattern>/service/GetLocationVector</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchBug</servlet-name>
    <servlet-class>service.SearchBug</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBug</servlet-name>
    <url-pattern>/service/SearchBug</url-pattern>
  </servlet-mapping>
</web-app>